:root {
    --highlight: #2196F3; /*--hover effect - br c1-*/
    --main-text: #000000; /*--text color -brand-color2-*/
    /*--brand-color3: #F5F5F5; main background- це фігми!!!!!-*/
    --secondary-bgc: #2F303A; /*--brand-color4- bgc h1 page 1, footer bgc --*/
    --bgc-team: #F5F4FA; /*--bgc наша команда-brand-color5-*/
    --main-background: #FFFFFF; /*--body- був brand-color6-*/
    --body-text: #212121; /*-- h3 -brand-color7-*/
    --body-par-text: #757575; /*--p3--*/
    --bgc-portfolio: #EEEEEE; /*--img bgc page2--*/
    --button-hover-hlt: #188CE8;
    --footer-color: rgba(255, 255, 255, 0.6);
}
 

/*--- якщо гугл не дасть робото, то дасть будь-який із сан-серіф, до яких належить робото --*/

body {
    font-family: 'Roboto', Sans-serif;
    color: var(--body-text);
    background-color: var(--main-background);
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.15;
    font-weight: 700;
    color: var(--highlight);
}

.logo-text {
   /*-прибираю font-family :OleoScript;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.38;--*/
    color: var(--main-text);
}

/*-----------------Список навігації в хедері
.navigation{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-text);
}
-----------------------------------------------*/
.navigation-link,
.navigation-link-current {
    color: var(--main-text);
    /* font-family: 'Roboto';-- насл з боді--*/
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail,
.tel {
    color: var(--body-par-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--body-par-text);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.mail:hover,
.tel:hover,
.navigation-link:focus,
.mail:focus,
.tel:focus {
    color: var(--highlight);
text-decoration-color: var(--highlight);
}
/*--text-decoration: underline;--прибрала підкреслення--*/

/*----------Прибираю підкреслення посилань-меню в хедері-----*/
.mail,
.tel,
.navigation-link,
.logo-header,
.logo-text {
    text-decoration: none;
}

.main-section {
    background-color: var(--secondary-bgc);

}

.main-title {
    color: var(--main-background);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.buy-button {
    background-color: var(--highlight);
    color: var(--main-background);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-button:hover,
.buy-button:focus {
    background-color: var(--button-hover-hlt);
    cursor: pointer;
}

.studio-benefits { 
    background-color: var(--brand-color3);

}

/*-------------------------------прибираю маркування в списках----*/
.studio-benefits-list,
.work-list,
.our-team-list,
.footer-adress-list {
    list-style: none;
}

.navigation,
.contact {
    list-style: none;
}

/*---------------------------приховую заголовок----*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.studio-benefits-list-title {
    color: var(--body-text);
    font-weight: 700;
    font-size: 14px;
    /*line-height: 1.14;*/
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.studio-benefits-list-text {
    color: var(--body-par-text);
    /* font-weight: 400; прибираю тя як і нормал, це вказ браузер за замовчуванням*/
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    width: 270px;
}

.work { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
color :var(--body-text);
}


.team {
    color: var(--brand-color5);
    background-color: var(--bgc-team);
}

/*
background-color: var(--main-background);
}*/

/*
.our-team-names,
.our-team-positions {
    background-color: var(--main-background);
} */

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--body-text);

}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-names {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--body-text);
}

.our-team-positions {
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--body-par-text);
}

/*!!!!!*/

.our-team-list li {
    background-color: var(--main-background);
}

.footer {
    background-color: var(--secondary-bgc);
}
.logo-text-footer {
    color: var(--main-background);
}

.actual-adress,
.mail-footer,
.tel-footer { 
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.actual-adress:hover,
.mail-footer:hover,
.tel-footer:hover,
.actual-adress:focus,
.mail-footer:focus,
.tel-footer:focus { 
    color: var(--highlight);
}

.actual-adress {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-background);
}

.mail-footer,
.tel-footer {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--footer-color);
}

.actual-adress:hover,
.mail-footer:hover,
.tel-footer:hover,
.actual-adress:focus,
.mail-footer:focus,
.tel-footer:focus {
    text-decoration-color: var(--highlight);
}
/*-- text-decoration: underline;--*/

/*------Portfolio, main, because header and footer are the same copy-pasted in html-------------*/

.visually-hidden-button-list {
    list-style: none;
}

.portfolio-navigation-link,
.portfolio-navigation-example {
    list-style: none;
}

.button-portfolio-navigation {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--body-text);
    border: transparent;

    border-radius: 4px;
    padding: 6px 22px;
}

.button-portfolio-navigation:hover,
.button-portfolio-navigation:focus {
    color: var(--main-background);
    background-color: var(--highlight);
    cursor: pointer;
}
/*
.portfolio-navigation-example {
background-color: var(--bgc-portfolio);
}*/

.portfolio-navigation-link {
    text-decoration: none;
}

.portfolio-navigation-title {
    background-color: var(--main-background);
    color: var(--body-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-navigation-prtype {
    background-color: var(--main-background);
    color: var(--body-par-text);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
/*
.portfolio-navigation-link-img {
    background-color: var(--main-background);
}
*/
/*---------------------------------Підсвітка поточної сторінки----*/
.navigation-link-current {
    color: var(--highlight);
    text-decoration: none; /*щоб не підкреслювало*/
}

/* сброс стандартных значений браузера*/
p, 
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul,
ol {
    margin:0;
    padding-left: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    display: block;
}

/* чтобы везде размер бокса был по бордеру*/
html {
    box-sizing: border-box;
}

/* всем єлементам, всем псевдо-элементам до и всем псевдо-элементам после наследовать бордер-бокс*/
*, *::before, *::after {
    box-sizing: inherit;
}

/*------------------------------Хедер---------*/

.navigation {
    display: flex;
    align-items: center;
}

.navigation-link,
.navigation-link-current {
    margin-right: 50px;
}

/*---убираем справа лишний марджин 50  navigation-link-current ничего не делаю---*/
.navigation-link-contacts {
    margin-right: 0px;
}

/* для кращої клікабельності посилань*/
.navigation-link,
.navigation-link-current,
.tel,
.mail {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 21px;
    padding-bottom: 21px;
    border: 2px solid gold;
}

/* ??? на мейл и тел не действует это и гэп - тк они не контейнеры*/
.contact {
    display: flex;
    gap: 0px;
    border: 2px solid green;
    align-items: flex-start;
    /*отодвигаю вправо 1 способ мой уже не пашет добавились иконки
    flex-grow: 1;
    justify-content: flex-end;*/
   /* 2 способ как Репета */
   margin-left: auto;
} 

.logo-flex,
.div-ul-flex {
    display: flex;
    border: 2px solid thistle;
}

.logo-flex {
    border: 2px solid tomato;
    align-items: center;
    margin-right: 93px;
}


.header-arrangement {
    display: flex;
    align-items: center;
    border: 2px solid turquoise;
    width: 1170px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
} 

/*------------------------------Кінець Хедера ---*/

/* Я в сентябре писала, оставляю чисто для напоминания фций которые могла забыть
.logo-header,
.logo-text,
.navigation-link-current,
.logo {
    display: inline-block; 
}

/* попробую через общий блок
.logo {
    width: 145px;
    height: 31px; 
    margin-top: 24px;
    margin-bottom: 24px;
} */

/*
.header-container {
    vertical-align: middle;
    width: 519px;
    height: 80px;
не так margin-left: 200px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
margin: 0 auto;
}

.container-headerflex {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
display: flex;
align-items: center;
align-content: center;
flex-wrap: wrap;
justify-content: baseline;
outline: 2px solid tomato;
}

.contact {
    display:inline-block;
    margin-right: 0 auto; 
    display: inline-block;
}


/*
.contact {
    flex-wrap: wrap;
    display: inline-flex;
}
*/

/*всему тегу задали, потом нарисуем цветным где надо, чтобы все кнопки были одинаковые по размеру*/
button {
    border: 1px transparent;
}

/*
button {
    border-radius: px;
    padding:;
    display: inline-block; делаем блочніми чтобі высота была
    min-width: ; для один кнопок и чтобы при переполнении контента растягивалась в срочку
    text-align: center;
}*/

.main-section {
    border: 1px solid powderblue;
    text-align: center;
}

/* 
.main-section h1 { 
    width: 696px;
    height: 120px;
    padding: 14px 48px;
} 

.main-section buy-button {

}

*/

/* ---------------------------------ПОРТФОЛІО---------- */

.portfolio-main {
    width:1170px;

   /* это не паддинги!!!!!!!!!!!!!!!
   padding-left: 15px;
    padding-right: 15px;*/

    /*центрування на сторінці*/
    margin-left: auto;
    margin-right: auto;

}

.portfolio-navigation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/*display:flex;
flex-wrap: wrap;
gap: 30px;*/

.portfolio-navigation-link {
    display: flex;
    width: 370px;
}

.portfolio-navigation-example {
    display: flex;
    flex-direction: column;
    border: 1px solid #EEEEEE;
    width: 370px;
}

.description {
    align-items: center;
    margin: 20px;
}

.description > h2 {
    margin-bottom: 0px;
}

.description > p {
    margin-top: 0px;
}

.portfolio-navigation-link > img {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 370px;
  } 

.visually-hidden-button-list {
    display: flex;
    width: 575px;
    height: 54px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    /*align-items: ;*/
    margin-top: 94px;
    margin-bottom: 34px;
    border: 2px solid tomato;
}

/*-----------------------------------------Футер----------------------*/

.footer {
    display: flex;
    /*flex-direction: column;
    justify-content: center;*/
    width: 1600px;
    height: 252px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 215px;
    border: 4px solid rgb(30, 210, 42);
}

.footer-adress-list {
    margin-top: 20px;
    border: 1px solid white;
}
/*---------------------------------------Кінець футера----*/

/*---------------------------------------Головна сторінка----*/

.main-section {
    width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  
}

.main-title {
    width: 696px;
    text-align: center;
    margin-top: 200px;
    margin-left: 452px;
    margin-bottom: 30px;
    border: 2px solid yellow;
}

/*------------------------Переваги-----*/
.studio-benefits {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 94px;
}

.studio-benefits-list {
   display: flex;
}

.studio-benefits-list-li {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

/*-------------------- А тут почему не могу убрать марджин-райт?--Могу! Работает---*/

.studio-benefits-list-li:last-child {
        margin-right: 0px;
}


.studio-benefits-list-li > h3 {
    margin-bottom: 10px;
    border: 2px solid black;
}

.studio-benefits-list-li p {
    border: 2px solid tomato;
}

/* -------------- Чим ми займаємося----*/

.our-work {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}

.work-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

/*------------------Наша команда---*/

.team {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.team-section {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team-list {
    display: flex;
    justify-content: space-between;
}

.our-team {
    margin-bottom: 50px;
}

.our-team-names {
    text-align: center;
}

.photo-footer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.our-team-names {
    margin-bottom: 10px;
}

/* 4 модуль */

/* не створюю окремий дів, через існуючи клас*/
/*???????????????????які кольори градієнту як зрозуміти з фігми??????????????*/
.main-section {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url("../images/squooshmod4/shapka.jpg");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 
    
/*------------------- Постійні тіні для наша команда----*/
.our-team-list > li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

/*---У картках сторінки Портфоліо є ефект тіні при ховері в будь-якому місці картки*/


.portfolio-navigation-example:hover,
.portfolio-navigation-example:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* У фільтрі (список кнопок) Портфоліо ефект тіні при ховері або фокусі на кнопки*/

.button-portfolio-navigation:hover,
.button-portfolio-navigation:focus {
box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 1px 2px rgba(0, 0, 0, 0.08),
 0px 2px 2px rgba(0, 0, 0, 0.12);
}


/*--------------------------Роблю іконки------------- */
/*--------------------------Переробляю все через sprite
.mail::before {
content:"";
display: inline-block;
width: 36px;*/ /*ширина іконки 16+по 10 зліва і справа*/
/*  height: 12px;
background-image:url("../images/svg_icons/envelope.svg");
background-position: bottom;
background-repeat: no-repeat;
}  */

/*--------------------------Переробляю все через sprite
.tel::before {
content: "";
display: inline-block;
width: 30px; */
/*ширина іконки 10+по 10 зліва і справа*/
/*  height: 16px;  
background-image: url("../images/svg_icons/tel.svg");
background-position: bottom;
background-repeat: no-repeat;
}
*/

/*------------- Flex for contacts in header : envelope, mail etc---- */

.contact-flex {
    display: flex;
}

/*------------------Колір іконок в хедері----*/

.contact-header {
    fill: #757575;
    margin-right: 10px;
    margin-left: 30px;
}

/*-------------------------Прибираю лівий марджин у конверта-------*/
.contact-flex:first-child .contact-header {
    margin-left: 0px;
}

/* 2 способ убрать левый марджин у конверта (крайняя геометрия чистим)
.envelope {
    margin-left: 0;
}
*/

.contact-flex {
    display: flex;
    align-items: center;
}

.envelope {
    width: 16px;
    height: 12px;
    padding: 0px;
}
.telephone {
    width: 10px;
    height: 32px;
}

/*-------------------------Не працює-----------*/
.contact-header {
    transition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header:hover,
.contact-header:focus {
    fill: var(--highlight);
}

/*-Не вийшло чрез нний чайлд чому???? .studio-benefits-list:nth-child(1)::before---*/ 
.anten::before {
    content: "";
    display: block;
    border: 1px solid #188CE8;
    width: 270px;
    height: 120px;
    background-image: url("../images/svg_icons/anten.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65.32px 70px; 
    background-color: var(--bgc-team);
}

.clock::before {
    content: "";
    display: block;
    border: 1px solid #188CE8;
    width: 270px;
    height: 120px;
    background-image: url("../images/svg_icons/clock.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66.96px 70px;
    background-color: var(--bgc-team);
}

.diagram::before {
    content: "";
    display: block;
    border: 1px solid #188CE8;
    width: 270px;
    height: 120px;
    background-image: url("../images/svg_icons/diagram.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 53.69px;
    background-color: var(--bgc-team);
}

.astronaut::before {
    content: "";
    display: block;
    border: 1px solid #188CE8;
    width: 270px;
    height: 120px;
    background-image: url("../images/svg_icons/astronaut.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-color: var(--bgc-team);
}

/*---Переделываю через спрайт
.social-links::after {
    content: "";
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid #188CE8;
    width: 206px;
    height: 44px;
    background-image: url("../images/svg_icons/instagram.svg");
    background-image: url("../images/svg_icons/twitter.svg");
    background-image: url("../images/svg_icons/facebook.svg");
    background-image: url("../images/svg_icons/linkedin.svg");
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: 44px; 
}   
---------------------------*/

/*------------------Основні (постійні) клієнти----*/

.main-clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    border: 1px solid rgb(68, 16, 188);
    margin-bottom: 94px;
}

.main-clients-container {
    width: 1170px;
    height: 184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    margin-bottom: 94px;
}

.main-clients {
    width: 1600px;
    height: 372px;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

.main-clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
   /* margin-bottom: 94px; в 4 домашке надо менять єто*/
}



/*--------------------------------???---*/


.join-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.join-list-item {
    border: 1px solid #AFB1B8;
}

.first-column {
    margin-top: 60px;
}

.join {
    margin-top: 72px;
    margin-left: 70px;
}

.join-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-background);
    }

.social-links-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;

}

/*----высоту и ширину еще задала в html, тк можно и там и тут---*/
.social-links-footer-img {
        width: 20px;
        height: 20px;
        fill: #AFB1B8;
}

/*.social-links-footer-img:hover,
.social-links-footer-img:focus {
    fill: #FFFFFF;
}*/

.social-links-footer-lis a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 90%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ---------Це не працювало взагалі-------------*/
.social-links-footer-lis a:hover,
.social-links-footer-lis a:focus {
    width: 44px;
    height: 44px;
    /* fill: #FFFFFF;*/
    background-color: var(--highlight);
    border-radius: 90%;
}
/*---------------------------------------------*/

/*----------------------------------------------Наведення на іконки соц мереж---*/

.social-links-footer-lis a:hover .social-links-footer-img, /* або svg */
.social-links-footer-lis a:focus .social-links-footer-img {
    fill: #FFFFFF;
}


/* через класс
.social-links-footer-lis-link:hover,
.social-links-footer-lis-link:focus {
    fill: #FFFFFF;
    background-color: var(--highlight);
}
--------------------------------------------*/

/*---------------------------------------------Постійні клієнти----*/

/*
.main-clients-list-item:nth-child(1) {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    background-image: url("../images/squooshcompressed/img-1а.jpg");
    background-position: center;
}
*/

.main-clients-list-item {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-clients-list {
    display: flex;
    gap: 30px;
    margin-bottom: 94px;
}

.main-clients-list-item-brand {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------------------Ховер і фокус----*/

.main-clients-list-item:hover,
.main-clients-list-item:focus {
    border: 1px solid #2196f3;
}

.main-clients-list-item:hover .main-clients-list-item-brand,
.main-clients-list-item:focus .main-clients-list-item-brand {
    fill: #2196f3;
}

.actual-adress,
.tel-footer {
    margin-bottom: 9px;
}
/*------------------------------Приєднуйтесь-----------*/

.social-links-footer-img-join {
    fill: #FFFFFF;
    transition: fill 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--------------------------------Анти-прозорість фону 10%-----*/

.social-links-footer-lis-join {
    width: 40px;
    height: 40px;
    border-radius: 90%;
    background-color: #ffffff10;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.social-links-footer-lis-join {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer-lis-join:hover,
.social-links-footer-lis-join:focus {
    background-color: #2196F3;
}

/*
.social-links-footer-img-join {
  display: flex;
    justify-content: center;
    align-items: center;
}*/

/*-------------------------------------------5 модуль--------*/

/*---Підкреслення поточної сторінки-------*/

.navigation-link-current::after {
    content: "";
    width: 100%;
    height: 4px;
    bottom: -12px;
    left: 0px;
    position: absolute;
    background-color: var(--highlight);
    border-radius: 2px;
    display: block;
}

.navigation-link-current {
    position: relative;
}

/*----------------------------Модальне вікно------------------*/

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    background-color: #00000080;

    transition: background-color 0ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal {
    /*position: fixed; тоді прокручується зі сторінкою */
    position: absolute;
    top: 221px;
    left: 536px;
    /* якщо потрібно то синтаксис такий transform: translate(50%,50%);*/

    min-width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
  
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

/* Еквівалент 
.is-hidden {
    display: none;
}
*/

.close-modal {
    position: absolute;
    top: 0px;
    right: 0px;
}

/*------------------------Анімація модального вікна-----------------*/

.is-hidden {
    pointer-events: none;
    opacity: 1;

    /*transition: opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.5);*/
}

/*
.is-hidden {
    pointer-events: none;
    opacity: 1;
}
*/

.modal {
    transition: opacity 2000ms cubic-bezier(linear),
            transform 2500ms cubic-bezier(linear),
            background-color 3000ms cubic-bezier(linear);
        transform: scale(1);
        opacity: 1;
}

.backdrop.is-hidden .modal {
    transform: scale(0.8);
    opacity: 0.5;
    background-color: red;
    /*
    transition: opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 1000ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);*/
}
/*------!!!!!!!!!!!!!!!так не працює бо із-хідден в слоз-модал в штмл
.close-modal:focus .is-hidden {
    transform: scale(0.1);
    opacity: 0;
    pointer-events: none;
    background-color:rgb(30, 210, 42)
}*/
/*
.close-modal:focus .backdrop {
    background-color: rgb(21, 191, 55);
    opacity: 0;
    pointer-events: none;
}*/

/*----------------------------------------кінець вікна---------------------------*/

.portfolio-navigation-example-of {
    position: relative;
}

.example-bkg-overlay {
    position: absolute;
    width: 370px;
    height: 294px;
    top: 0px;
    left: 0px;
    
    background-color: #2195f390;
    /*---РОблю прозорим щоби при наведенні проявл в анім скопіювала із is-hidden--*/
    opacity: 0;
    pointer-events: none;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

/* Еквівалент 
.is-hidden {
    display: none;
}
*/

.portfolio-navigation-example-overlay-text {
    position: absolute;
    top: 63px;
    left: 24px;
    
    width: 322px;
    height: 168px;

    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
   
    text-align: cover;
}

/*----Здається, що це просто Фігми виділення, але робила ховер фокус виділення теж---
.portfolio-navigation-example-overlay-text:hover,
.portfolio-navigation-example-overlay-text:focus {
    text-decoration: underline var(--highlight) 2px;
}

------------------------- Щоби не совалось---------
.portfolio-navigation-example {
    border: 4px solid transparent;
}

.portfolio-navigation-example:hover,
.portfolio-navigation-example:focus {
    border: 4px solid #2196F3;
  
}

.portfolio-navigation-link-img {
    max-width: 100%;
    width: 370px;
    z-index: -1;
    padding: 0px;
    margin: 0px;
}
/*

/*------------------На основній стор підписи картинок --*/
.work-list > li {
    position: relative;
}

.desktop-apps {
    position:absolute;
    bottom: 0px;
    left: 0px;
    background-color: #2F303A80;
    width: 100%;
    height: 70px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 27px;
}

/*-------------------------------------Анімація--------*/
/*---------------------------Портфоліо картки-----*/

/* зробила .example-bkg-overlay проз вище*/

.example-bkg-overlay {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity;
    transform: translateY(+100%);
    opacity: 1;
}

/* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity, color;*/

.portfolio-navigation-example-of {
    overflow: hidden;
}

/*---А так не працює!!! Бо рухається саме він, а блок, що переповнюється, вміщає в себе рухаючийся елем 
.example-bkg-overlay {
    overflow: hidden;
}
*/

.portfolio-navigation-example:hover .example-bkg-overlay,
.portfolio-navigation-example:focus .example-bkg-overlay {
    
    opacity: 1;
    transform: translateY(0);
   
}


/*----------------------------Тіні в портфоліо анімую----------*/

/*---У картках сторінки Портфоліо є ефект тіні при ховері в будь-якому місці картки*/

.portfolio-navigation-example {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
}

.portfolio-navigation-example:hover,
.portfolio-navigation-example:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* У фільтрі (список кнопок) Портфоліо ефект тіні при ховері або фокусі на кнопки*/

.button-portfolio-navigation {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
}

.button-portfolio-navigation:hover,
.button-portfolio-navigation:focus {
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio-navigation {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--body-text);
}

.button-portfolio-navigation:hover,
.button-portfolio-navigation:focus {
    color: var(--main-background);
    background-color: var(--highlight);
    cursor: pointer;
}